<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">
		<img alt="WebControl" th:src="@{/images/logo.png}" width="200px" height="35px">	
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
		<!-- MENU -->
			<li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Administrador
		        </a>
		        <ul class="dropdown-menu dropright" aria-labelledby="navbarDropdown">
	        		<li class="dropdown">
						<a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Cadastros</a>
			          	<ul class="dropdown-menu">
			          		<li><a class="dropdown-item" href="/usuario">Usuario</a></li>
			          	</ul>
					</li>
					<!-- ADICIONAR <li> ABAIXO (ANTES DO </ul>) PARA MAIS LINHAS NO MENU -->
		        </ul>
	        </li>
	        <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMIN','PRODUTO','UNIDADE_MEDIDA')">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Produto
		        </a>
		        <ul class="dropdown-menu dropright" aria-labelledby="navbarDropdown">
		        	<li class="dropdown">
			        	<a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Cadastros</a>
			        	<ul class="dropdown-menu">
			        		<li sec:authorize="hasAnyAuthority('ADMIN','PRODUTO')">
			        			<a class="dropdown-item" href="/produto">Produto</a>
			        		</li>
							<li sec:authorize="hasAnyAuthority('ADMIN','UNIDADE_MEDIDA')">
								<a class="dropdown-item" href="/unidadeMedida">Unidade Medida</a>
							</li>
						</ul>
					</li>
					<!-- ADICIONAR <li> ABAIXO (ANTES DO </ul>) PARA MAIS LINHAS NO MENU -->
		        </ul>
	        </li>
	        <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMIN','FATURAMENTO')">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Vendas
		        </a>
		        <ul class="dropdown-menu dropright" aria-labelledby="navbarDropdown">
		        	<li class="dropdown">
			        	<a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Cadastros</a>
			        	<ul class="dropdown-menu">
			        		<li sec:authorize="hasAnyAuthority('ADMIN','CLIENTE')">
			        			<a class="dropdown-item" href="/vendas/clientes">Cliente</a>
			        		</li>
			        		<li sec:authorize="hasAnyAuthority('ADMIN','PEDIDOS')">
			        			<a class="dropdown-item" href="/vendas/pedidos">Pedidos</a>
			        		</li>
						</ul>
					</li>
		        	<li class="dropdown">
			        	<a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Processos</a>
			        	<ul class="dropdown-menu">
			        		<li sec:authorize="hasAnyAuthority('ADMIN','FATURAMENTO')">
			        			<a class="dropdown-item" href="/faturamento">Faturamento</a>
			        		</li>
						</ul>
					</li>
					<!-- ADICIONAR <li> ABAIXO (ANTES DO </ul>) PARA MAIS LINHAS NO MENU -->
		        </ul>
	        </li>
        <!-- FIM MENU -->
	    </ul>
		<div class="text-white form-inline">
	        <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>&nbsp;&nbsp;
	        <span sec:authorize="!isAuthenticated()">USUÁRIO NÃO LOGADO!</span>
		    <form id="formSair" th:action="@{/logout}" method="POST">
		    	<a id="btnSair" href="#" class="nav-link" style="color: white;">
		    		Sair
		    	</a>
		    </form>
	    </div>
    </div>
</nav>
<script>
	document.getElementById("btnSair").onclick = function() {
	    document.getElementById("formSair").submit();
	}
</script>

<style>
	.dropdown-menu a:hover {
		background-color: #d1d1d1;
	}
	.dropdown:hover>.dropdown-menu {
		display: block;
		margin: 0px;
	}
	.dropdown>.dropdown-toggle:active {
		pointer-events: none;
	}
	
</style>
</html>
