<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<!-- Custom styles for this template -->
<link href="/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
	<form class="form-signin" method="POST" th:action="@{/login}">
		<fieldset>
			<div th:if="${param.error}" class="alert alert-danger">    
                    Usuario ou Senha invalidos.
            </div>
            <div th:if="${param.logout}" class="alert alert-success"> 
                    Você foi desconectado.
            </div>
			<div class="alert alert-warning" th:if="${!#strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}">Mensagem vem do Controller</span>
			</div>
			<img class="mb-4" src="/images/bootstrap-solid.svg" alt="" width="72"
				height="72">
			<h1 class="h3 mb-3 font-weight-normal">Entrar</h1>
			<label for="inputEmail" class="sr-only">E-mail</label>
			<input type="text" id="username	" class="form-control" placeholder="Usuario" required autofocus name="usuario" th:value="${usuario?.getUsuario()}"/>
			<label for="inputPassword" class="sr-only">Senha</label>
			<input type="password" id="password" class="form-control" placeholder="Senha" required name="senha" th:value="${usuario?.getSenha()}"/>
			<div class="checkbox mb-3">
				<a href="/RecupSenha.html">Esqueceu a Senha?</a>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2020</p>
		</fieldset>
	</form>
</body>
<script src="/js/bootstrap.min.js"></script> 
</body>
</html>