<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{LayoutPadrao}">
<head>
	<title>Cadastro Produtos</title>
</head>
<section layout:fragment="conteudo">
	<div th:class="${classe}" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}">Mensagem vem do Controller</span>
	</div>
	<form class="card">
		<h5 class="card-header">Cadastro de Produtos</h5>
		<div class="card-body">
			<input type="hidden" name="id_produto"/>
			<div class="form-group">
			    <label for="txtCodigo">Código</label>
			    <input type="text" required class="form-control form-control-sm col-md-6" id="txtCodigo" name="codigo" placeholder="Código do Produto"/>
		  	</div>
		  	<div class="form-group">
			    <label for="txtDescricao">Descrição</label>
			    <input type="text" class="form-control form-control-sm col-md-6" id="txtDescricao" name="descricao" placeholder="Descrição"/>
		  	</div>
		  	<div class="form-group">
			    <label for="txtUnidadeMedida">Unidade de Medida</label>
			    <select class="form-control form-control-sm col-sm-2" id="txtUnidadeMedida" name="unidadeMedida">
		      		<option></option>
		    	</select>
		  	</div>
		  	<div class="form-group">
				<label for="txtQuantidade" class="">Quantidade</label>
				<input type="text" class="form-control form-control-sm col-md-6" id="txtQuantidade" name="quantidade" placeholder="Quantidade em Estoque"/>
			</div>
			<div class="form-group">
				<label for="txtValor" class="">Valor</label>
				<input type="text" class="form-control form-control-sm col-md-6" id="txtValor" name="valor" placeholder="Valor do Produto"/>
			</div>
		  	<div class="form-group">
		    	<label for="ddlSituacao">Situação</label>
		    	<select class="form-control form-control-sm col-sm-2" id="ddlSituacao" name="status">
	      			<option></option>
		    	</select>
		  	</div>
		  	<div class="form-group">
				<button type="submit" class="btn btn-primary col-sm-1">Salvar</button>
				<button id="btnCancelar" type="button" class="btn btn-secondary col-sm-1">Cancelar</button>
			</div>
	  	</div>
	</form>
	<script type="text/javascript">
	    document.getElementById("btnCancelar").onclick = function () {
	    	window.location.pathname = "/produto";
	    };
	</script>
</section>
</html>