<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{LayoutPadrao}">
<head>
	<title>Cadastro Produtos</title>
</head>
<section layout:fragment="conteudo">
	<form class="card" th:method="${action} == editar ? 'PUT' : 'POST'" th:action="${action} == 'editar' ? @{/produto/editar/{codigo}(codigo=${produto.id_produto})} : @{/produto/salvarProduto}" th:object="${produto}">
		<h5 class="card-header">Cadastro de Produtos</h5>
		<div th:replace="MensagemGeral"></div>
    	<div th:replace="MensagemErro"></div>
		<div class="card-body">
			<input type="hidden" th:field="*{id_produto}"/>
			<div class="row">
				<div class="col form-group col-sm-3">
				    <label for="txtCodigo">Código</label>
				    <input type="text" class="form-control form-control-sm" th:classappend="${#fields.hasErrors('codigo')} ? is-invalid" id="txtCodigo" placeholder="Código do Produto" th:field="*{codigo}"/>
			  	</div>
			  	<div class="col form-group col-sm-3">
				    <label for="txtDescricao">Nome</label>
				    <input type="text" class="form-control form-control-sm" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" id="txtDescricao" placeholder="Nome do Produto" th:field="*{nome}"/>
			  	</div>
		  	</div>
		  	<div class="row">
			  	<div class="col form-group col-sm-3">
				    <label for="txtUnidadeMedida">Unidade de Medida</label>
				    <select class="form-control form-control-sm" th:classappend="${#fields.hasErrors('unidadeMedida')} ? is-invalid" id="txtUnidadeMedida" th:field="*{unidadeMedida}">
			      		<option th:each="unidadeMedida : ${todasUnidadesMedida}" th:value="${unidadeMedida.sigla}" th:text="${unidadeMedida.sigla}"></option>
			    	</select>
		  		</div>
		  		<div class="col form-group col-sm-3">
					<label for="txtQuantidade" class="">Quantidade</label>
					<input type="text" class="form-control form-control-sm" th:classappend="${#fields.hasErrors('quantidade')} ? is-invalid" id="txtQuantidade" placeholder="Quantidade em Estoque" th:field="*{quantidade}"/>
					<div class="invalid-feedback">Quantidade deve conter apenas números.</div>
				</div>
		  	</div>
		  	<div class="row">
				<div class="col form-group col-sm-3">
					<label for="txtValor" class="">Valor</label>
					<input type="text" class="form-control form-control-sm" th:classappend="${#fields.hasErrors('valor')} ? is-invalid" id="txtValor" name="valor" placeholder="Valor do Produto" th:field="*{valor}"/>
					<div class="invalid-feedback">Valor deve conter apenas números.</div>
				</div>
			</div>
			<div class="row">
			  	<div class="col form-group col-sm-3">
			    	<label for="ddlSituacao">Situação</label>
			    	<select class="form-control form-control-sm" th:classappend="${#fields.hasErrors('status')} ? is-invalid" id="ddlSituacao" th:field="*{status}">
		      			<option th:each="status : ${todosStatusProduto}" th:value="${status}" th:text="${status.descricao}"></option>
			    	</select>
			  	</div>
			</div>
			<div class="row">
				<div class="col form-group col-sm-6">
					<label for="descricao">Descrição</label>
    				<textarea class="form-control" th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" id="descricao" rows="3" th:field=*{descricao}></textarea>
				</div>
			</div>
		  	<div class="form-group">
				<button type="submit" class="btn btn-primary col-sm-1">Salvar</button>
				<button id="btnCancelar" type="button" class="btn btn-secondary col-sm-1">Cancelar</button>
			</div>
	  	</div>
	</form>
	<script type="text/javascript">
	    document.getElementById("btnCancelar").onclick = function () {
	    	window.location.pathname = "/produto";
	    };
	</script>
	<script src="/js/jquery-3.5.1.js"></script>
	<script src="/js/produtoAcao.js"></script>
</section>
</html>